# Ignorer les dépendances, fichiers temporaires et dev
node_modules/
*.log
.env
.env.*
storage/*.key
/vendor/

# Inclure tout le reste (très important pour Laravel)
!app/
!bootstrap/
!config/
!database/
!public/
!resources/
!routes/
!storage/
!artisan
!composer.*
!server.php
!package.json
!webpack.mix.js
!public/index.php
!resources/views/**
