/*  */

.label{
    font-size: 1.2rem;
}

.content{
    width: 300px; 
    font-size: 1rem; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc;
}

.accroche {
    width: 300px; 
    height: 30px; 
    font-size: 1rem; 
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.titre {
    text-align: center;
}

.phrase_intro {
    padding-left: 50px;
    border-left: 4px solid #0056b3;
    margin-left: 20%;
    border-radius: 5px;
    margin-top: 50px;
    font-size:large;
}

.body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.actu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #c7cdd6;
    border-radius: 15px;
    padding: 20px;
    margin: 70px 150px;
}
.delete-form-container {
    width: 100%; /* Utilise toute la largeur disponible */
    box-sizing: border-box; /* Prend en compte les paddings */
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centre le formulaire */
}
.article-card {
    overflow: hidden;
    position: relative;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: left; /* Aligner le texte à gauche pour éviter l'empilement */
    width: 100%; /* S'assurer que la carte ne dépasse pas */
    box-sizing: border-box; /* Inclut les paddings dans la largeur totale */
}

.article-card form {
    display: flex;
    justify-content: center; /* Centrer le bouton */
    margin-top: 15px; /* Espacement entre l'article et le formulaire */
    width: 100%; /* Prendre toute la largeur disponible */
}

.article-card button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    width: auto; /* Taille du bouton en fonction de son contenu */
    max-width: 100%; /* Eviter que le bouton ne dépasse */
}

.article-card button:hover {
    background-color: darkred;
}

.article-title {
    font-size: 20px;
    color: #333;
}

.article-subtitle {
    font-size: 20px;
    color: #333;
}

.article-author {
    color: #888;
    font-size: 12px;
}

.article-link {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

.article-detail {
    padding: 15px;
    padding-top: 150px;
}



