/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');

/* Styles globaux pour assurer l'uniformité */
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 150px;
    flex-grow: 1;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #013e9a;
    font-size: 1.8rem;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0056b3;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.input-group button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.input-group button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

.input-group button:active {
    background-color: #003e80;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

p {
    color: #555;
    font-size: 0.9rem;
    margin-top: 10px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* Messages d'erreur ou de succès */
p[style="color: red;"] {
    color: #ff0000 !important;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
